---
import type { Project } from '@types'
import ProjectButtons from '../ProjectButtons.astro'
import ProjectHyperlink from '../ProjectHyperlink.astro'
import Technologies from '../Technologies.astro'

interface Props extends Project {}

const { name, overview, mainTechnologies, code, preview, carouselImgs } =
  Astro.props

const imageSrc = (carouselImgs ?? [])[0] ?? ''
---

<article class='flex flex-col project-card rounded-xl overflow-clip relative'>
  <ProjectHyperlink projectName={name} />

  <div class='sm:h-50 h-40 w-full relative'>
    <img
      src={imageSrc}
      alt={name}
      class='w-full group-hover:w-[110%] h-[140%] object-cover object-center absolute top-0 left-0 -z-10'
    />
  </div>

  <div class='flex flex-col p-8 gap-2'>
    <h2 class='text-white font-bold text-2xl mb-2'>{name}</h2>
    <Technologies technologies={mainTechnologies} />
    <p class='text-zinc-300'>{overview}</p>

    <ProjectButtons {...{ code, preview, name }} class='mt-4' />
  </div>
</article>

<style>
  img {
    mask-image: linear-gradient(to bottom, black 50%, transparent);
  }
</style>
