---
import Layout from '@/layouts/Layout.astro'
import { PROJECTS } from '@/lib/projects'
import { getProjectImages } from '@/utils/getProjectImages'
import { toKebabCase } from '@/utils/toKebabCase'
import NotFoundScreen from '@@/NotFoundScreen.astro'
import ListSection from '@@/project-details-page/ListSection.astro'
import { ProjectImagesCarousel } from '@@/project-details-page/ProjectImagesCarousel'
import ProjectButtons from '@@/projects/ProjectButtons.astro'
import Technologies from '@@/projects/Technologies.astro'
import { TITLE_ENDING } from '@consts'
import { BoltIcon, CodeIcon } from '@icons'

const { project: projectSlug } = Astro.params
const project = PROJECTS.find((p) => toKebabCase(p.name) === projectSlug)

// Gather all technologies used in the project
const technologies = project ? [...project.mainTechnologies] : []
if (project?.extraTechnologies) technologies.push(...project.extraTechnologies)

// Fetch the carousel images for the project
const carouselImgs = project
  ? await getProjectImages(project.name, 'carousel')
  : []

const { pageTitle, pageDescription } = project
  ? {
      pageTitle: `${project.name}${TITLE_ENDING}`,
      pageDescription: project.overview,
    }
  : {
      pageTitle: `Project not found${TITLE_ENDING}`,
      pageDescription: 'The project you are looking for does not exist.',
    }
---

<Layout title={pageTitle} description={pageDescription}>
  {
    project ? (
      <div class='margin-top-page flex flex-col gap-4'>
        <h1 class='text-white text-5xl font-bold opacity-0' scroll-fade={1}>
          {project.name}
        </h1>
        <p
          class='text-white/90 text-lg xl:w-4/5 text-pretty mb-4 opacity-0'
          scroll-fade={1.5}
        >
          {project.description}
        </p>

        <Technologies
          technologies={technologies}
          class='flex-wrap opacity-0'
          scroll-fade={4}
        />

        <ProjectButtons
          name={project.name}
          code={project.code}
          preview={project.preview}
          class='opacity-0'
          scroll-fade={3}
        />

        {carouselImgs && (
          <ProjectImagesCarousel
            projectName={project.name}
            images={carouselImgs}
            client:load
          />
        )}

        <ListSection
          title='Features'
          list={project.features}
          icon={BoltIcon}
          split
        />

        <ListSection title='My Role' list={project.myRole} icon={CodeIcon} />
      </div>
    ) : (
      <NotFoundScreen
        message='Oops... Looks like the project you are looking for does not exist.'
        action={{ label: 'Back to projects', href: '/projects' }}
      />
    )
  }
</Layout>
